*{
    margin: 0;padding: 0;box-sizing: border-box;font-family:sans-serif;
}


.bg_img {
    background-image: url("../public/background_semicircle.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 16rem;
}

